
:root {
  --Raleway: 'Raleway', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --brandColor: #2196F3;
  --brandHover: #188CE8;
  --firstFontColor: #212121;
  --secondFontColor: #757575;
  --heroBG: #2F303A;
  --sectionBG: #F5F4FA;
}