
/* знаю что нельзя пустые наборы правил оставлять. Но они же для след. ДЗ нужны  */

/*------------------------------------------------root------------------------------------*/
:root {
  --brandColor: #2196F3;
  --brandHover: #188CE8;
  --firstFontColor: #212121;
  --secondFontColor: #757575;
  --mainBG: #2F303A;
  --sectionBG: #F5F4FA;
}
/* --------------------------------------------global------------------------------------*/
body {
  font-family: Roboto, Arial, sans-serif;
  color: var(--firstFontColor);
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.logo {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brandColor);
  
}
.logo > span {
  color:var(--firstFontColor);
}
/*---------------------------------------------header------------------------------------*/

.header {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.header__menu {
}
.header__logo {
}
.header__list {
}
.header__link{
  text-decoration: none;
  color: var(--firstFontColor);
}
.header__link:focus,
.header__link:hover {
  color: var(--brandColor);
}
.header__contact {
}
.header__contact a {
  color: var(--secondFontColor);
}


/* -------------------------------------------studio-main--------------------------------*/

.head {
background-color: var(--mainBG);
}
.head__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.head__btn {
  background-color: var(--brandColor);
  color: #fff;
}
.head__btn:focus,
.head__btn:hover {
  background-color: var(--brandHover);
  cursor: pointer;
}
.rows {
}
/* этот заголовок нужно сделать невидимым он для семантики */
.rows__label{}

.rows__list {
}
.rows__item {
}
.rows__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.rows__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondFontColor);
}
.jobs {
}
.jobs__title {
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.jobs__list {
}
.jobs__item {
}
.jobs__img {
}
.team {
}
.team__title {
}
.team__list {
}
.team__item {
}
.team__img {
}
.team__text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team__name {
  font-weight: 500;
}
.team__position {
  color: var(--secondFontColor);
}

/* -----------------------------------------portfolio-main-------------------------------*/

.portfolio {
}
.portfolio__btns {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.portfolio__item {
}
.portfolio__btn {
  background-color: #F5F4FA;
}
.portfolio__btn:focus,
.portfolio__btn:hover {
  color: #fff;
  background-color: var(--brandColor);
  cursor: pointer;
}
.portfolio__list {
}
.portfolio__card {
}
.portfolio__img {
}
.portfolio__text {
}
.portfolio__label {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: bold;
}
.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondFontColor);
}

/*---------------------------------------------footer------------------------------------*/

.footer {
  background-color: var(--mainBG);
}
.footer__logo {
}
.footer__logo > span {
  color: #fff;
}
.footer__address {
}
.footer__list {
  font-size: 14px;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.03em;
}
.footer__map {
  text-decoration: none;
  color: #fff;
}
.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/* в макете не указано есть ли ховер в футере, но это теже контакты с шапки*/
.footer__link:focus,
.footer__link:hover {
  color: var(--brandColor);
}